{% extends "base.html" %}
{% block content %}
<div class="row">
<div class="col-md-8 col-md-offset-2">
<h1>Hooknook: Logs</h1>
<table class="table table-striped">
    <thead><tr>
      <th>Repository</th>
      <th>Build Time</th>
    </tr></thead>
    {% for log in logs %}
    <tr>
        <td>
            <a href="https://github.com/{{ log.name }}">{{ log.name }}</a>
        </td>
        <td>
            <a href="{{ url_for('show_log', name=log.file) }}">
                {{ log.dt.strftime('%d %b %Y %I:%M %p') }}
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
</div>
</div>
{% endblock %}
